@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');

body {
    max-width: 40%;
    margin: 0 auto;
    justify-content: justify;
    font-family: 'calibri';
 }
 header{
    background-image: url(./img/header_background.jpeg);
    /* background-size: auto; */
    background-position: center;
    height: 75vh;
    width: 100vh;
    position: relative; 
    display: block; 
    max-width: 100%; 
}
 h1{
     margin-left: 3%;
     margin-right: 3%;
 }
 .bate{
    text-align:justify;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -75%);
}
 .enlace {
    color:red;
    text-decoration: none;
 }
 p {
     font-size: 21px;
     margin-left: 3%;
     margin-right: 3%;
 }
 img {
     width: 100%;
     margin-top: 10%;
     margin-left: 3%;
     margin-right: 3%;
 }
 h2{
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
    }
 .row{
     display: flex;
     text-align: center;
 }
 .pro1{
     width: 250px;
     margin-right: 15px;
     margin-left: 10px;
 }
 .pro2{
     width: 250px;
     margin-left: 10px;
     margin-right: 10px;
 }
 footer {
    background-color: #333; 
    color: white; 
    padding: 20px;
    text-align: center;
}